.header{
    overflow: hidden;
}
.img{
    height:100vh; 
    width:100vw;
}
.gradient{
    background:black;
    position:absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    opacity:0.1;
}